* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  font-family: "Pacifico", cursive;
  font-weight: 200;
}

body {
  background-image: url("https://source.unsplash.com/random/1920x1080/?wallpaper,landscape");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.quote-panel {
  background-color: #fff;
  width: 50%;
  opacity: 0.7;
  border-radius: 8px;
  transition: 0.5s;
}

.quote-panel:hover {
  opacity: 1;
}

.quote {
  font-size: 5vh;
  padding: 1vh;
}

.author {
  float: right;
  font-size: 4vh;
  margin: 1vh;
}

#change-btn {
  position: absolute;
  right: 10vh;
  background: #16a085;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 3vh;
  transition: 0.5s;
}

#change-btn:hover {
  background: #fff;
  color: #16a085;
}
